<!DOCTYPE html>

<html>

<head>

<style>
  h1{
    color:brown;
    text-align: center;
  }
  p{
    color: red;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
  }

</style>

<body>

    <h1>Add your workspace path</h1>
    <br/>
    <form  class="form-group" style="border:2px solid green; width: 300px; padding-left: 10px; padding-bottom: 10px; 
padding-top: 10px; padding-right: 10px; margin: 0px auto; background-color: yellow" method="POST"

 action="/workspace">
   <input name="workspace" type="text" ></input>
   <input name="Add workspace" type="button" ></input>
   </form>

</body>

</head>
</html>